:root {
  --bg-tone: #000000;
  --fg-tone: #ffffff;
  --bg: color(var(--bg-tone) blend(--fg-tone 25%));
  --fg: color(var(--fg-tone) blend(--bg-tone 25%));
}

body {
  color: var(--fg);
  background-color: var(--bg);
  max-width: 700px;
  padding-top: 0.5em;
  padding-left: 0.3em;
  padding-right: 0.3em;
  margin: auto;
  line-height: 1.2;
}

.credits {
  font-size: 70%;
  display: block;
  margin: auto;
  text-align: center;
  padding-top: 2em;
}
