#ifndef WEBSITE_CONFIG_HPP
#define WEBSITE_CONFIG_HPP

// These are defined from build-time configuration.
// clang-format off
#define WEBSITE_VERSION "${PROJECT_VERSION}"
#define WEBSITE_FULL_VERSION "${WEBSITE_FULL_VERSION}"
#define WEBSITE_VERSION_MAJOR ${PROJECT_VERSION_MAJOR}
#define WEBSITE_VERSION_MINOR ${PROJECT_VERSION_MINOR}
#define WEBSITE_VERSION_PATCH ${PROJECT_VERSION_PATCH}
// clang-format on

#endif
